# Gradle cache
.gradle/
/*/.gradle/

# Java cache
.tmp/

# IDEA specifics
#.idea/shelf/
.idea/jarRepositories.xml
.idea/hotswap_agent.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/usage.statistics.xml
.idea/workspace.xml

# TEMP
#.idea/

# Compiler outputs
*/build/
*/out/
*/war/
*/libs/armeabi-v7a/
*/libs/arm64-v8a/
*/libs/x86/
*/libs/x86_64/
*/gen/

 
